@model MvcStok.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="UrunAd" />
        <label>Marka</label>
        <input type="text" class="form-control" name="Marka" />
        <label>Kategori Seçiniz</label>
        @Html.DropDownListFor(m=>m.KategoriAd,(List<SelectListItem>)ViewBag.Degerler, new { @class="form-control"})
        <label>Fiyat</label>
        <input type="text" class="form-control" name="Fiyat" />
        <label>Stok</label>
        <input type="text" class="form-control" name="Stok" />
    </div>
    <div style="margin-top:20px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>

