@using MvcStok.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="text-center">Müşteriler</h2>
<table class="table table-bordered  table-striped table-hover">
    <tr style="background-color:#41bdbd">
        <th>Müşteri Id</th>
        <th>Müşteri Ad</th>
        <th>Müşteri Soyad</th>
    </tr>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <td>@musteri.MusteriId</td>
                <td>@musteri.MusteriAd</td>
                <td>@musteri.MusteriSoyad</td>

            </tr>
        }
    </tbody>
</table>

